{% extends 'base/header.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    
    {% if form.errors %}
    <legend>
        <center>
            <h2 style="font-family: 'Josefin Sans', sans-serif"><b>Your username and password didn't match. Please, try again.</b>
            </h2>
        </center>
    </legend>
    {% else %}
    <legend>
        <center>
            <h2 style="font-family: 'Josefin Sans', sans-serif"><b>Please, sign in to your account</b>
            </h2>
        </center>
    </legend>
    {% endif %}
    
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <fieldset>
            
            <br>
            <div class="form-group">
                <label class="col-md-4 control-label">User:</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="username" placeholder="username" class="form-control" required type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Password:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="password" placeholder="### ###" class="form-control" required type="password">
                    </div>
                </div>
            </div>

            <center>
                <button class="btn btn-default" value="Log-in">Enter</button>
            </center>
        </fieldset>
    </form>
</div>
{% endblock content %}