<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShortenerURL</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <p>
                        Sorry, the page you requested was not found!
                    </p>
                    <a href="http://{{ request.get_host }}" class="btn btn-primary
                    btn-lg">Home <span class="glyphicon
                    glyphicon-home"></span></a>
                </div>
            </div>
        </div>
    </body>

</html>
